# Core
streamlit==1.43.2
setuptools>=70.0.0
setuptools-distutils
wheel>=0.41.0

# ML + Computer Vision
ultralytics==8.3.77
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
opencv-python-headless==4.9.0.80
numpy==1.26.4
pandas==2.2.3
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.5.2

# Utils
tqdm==4.67.1
pillow==10.4.0
requests==2.32.3
pyyaml==6.0.2
ffmpeg-python==0.2.0
moviepy==2.1.2
plotly==6.0.1
